// Font icon class
*{
  font-family: "proxima_light";
}

.font-weight-light{
  font-family: "proxima_light";
}

.font-weight-bold{
  font-family: "proxima_bold";
}

.fa {
  font-family: "FontAwesome";
}
